{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/no-array-index-key": 0,
    "taro/this-props-function": null,
    "import/prefer-default-export": null,
    "no-shadow": 0,
  },
    "parser": "babel-eslint"
  }
